<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>PoC Media Level 5</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr.min.js"></script>
    </head>
    <body>

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">h1.title</h1>
                <nav>
                    <ul>
                        <li><a href="#">nav ul li a</a></li>
                        <li><a href="#">nav ul li a</a></li>
                        <li><a href="#">nav ul li a</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">

                <article>
                    <header>
                        <h1>@media - Level 5</h1>
                        <p>The @media CSS at-rule can be used to apply part of a style sheet based on the result of one or more media queries. With it, you specify a media query and a block of CSS to apply to the document if and only if the media query matches the device on which the content is being used.</p>
                        <p>W3C: <a href="https://drafts.csswg.org/mediaqueries-5/#at-media5" title="draft media level 5">level 5</a></p>
                    </header>
                    <section class="card anim-eka">
                        <h2>prefers-color-scheme</h2><!-- https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme -->
                        <p>The prefers-color-scheme CSS media feature is used to detect if the user has requested the system use a light or dark color theme.</p>
                        <p>They can be further themed according to the user's color scheme preference, <a href="/prefers-color-scheme.html" title="example prefers-color-scheme">example</a></p>
                    </section>
                    <section class="card anim-eka">
                        <h2>prefers-contrast</h2> <!-- https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-contrast#Browser_compatibility -->
                        <!-- https://www.uifrommars.com/modo-oscuro-beneficios-desventajas/ -->
                        <p>The prefers-contrast CSS media feature is used to detect if the user has requested that the web content is presented with a higher (or lower) contrast.</p>
                        <p><a href="/prefers-contrast.html" title="example prefers-contrast">example</a></p>
                    </section>
                    <section class="card anim-eka">
                        <h2>prefers-reduced-motion</h2> <!-- https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion -->
                        <p>The prefers-reduced-motion CSS media feature is used to detect if the user has requested that the system minimize the amount of animation or motion it uses.</p>
                        <p><a href="/prefers-reduced-motion.html" title="example prefers-reduced-motion">example</a></p>
                    </section>
                    <section class="card anim-eka">
                        <h2>prefers-reduced-transparency</h2> <!-- https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-transparency -->
                        <p>The prefers-reduced-transparency CSS media feature is used to detect if the user has requested that the system minimize the amount of transparency used across elements.</p>
                        <p><a href="/prefers-reduced-transparency.html" title="example prefers-reduced-transparency">example</a></p>
                    </section>
                    <section class="card anim-eka">
                        <h2>inverted-colors</h2> <!-- https://developer.mozilla.org/en-US/docs/Web/CSS/@media/inverted-colors -->
                        <p>The inverted-colors CSS media feature can be used to test whether the user agent or underlying OS is inverting colors.</p>
                        <p><a href="/inverted-colors.html" title="example inverted-colors">example</a></p>
                    </section>
                    <section class="card anim-eka">
                        <h2>light-level</h2> <!-- https://developer.mozilla.org/en-US/docs/Web/CSS/@media/light-level -->
                        <p>The light-level CSS media feature can be used to test the ambient light level.</p>
                        <p><a href="/light-level.html" title="example light-level">example</a></p>
                    </section>
                    <section class="card anim-eka">
                        <h2>forced-colors</h2> <!-- https://developer.mozilla.org/en-US/docs/Web/CSS/@media/forced-colors -->
                        <p>The forced-colors CSS media feature is used to detect if the user agent has enabled a forced colors mode where it enforces a user-chosen limited color palette on the page.</p>
                        <p><a href="/.html" title="example forced-colors">example</a></p>
                    </section>
                    <section class="card anim-eka">
                        <h2></h2> <!--  -->
                        <p></p>
                        <p><a href="/.html" title="example ">example</a></p>
                    </section>


                </article>

                <aside>
                    <h3>aside</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices.</p>
                </aside>

            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <h3>footer</h3>
            </footer>
        </div>

        <script src="js/main.js"></script>
    </body>
</html>
